.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    margin: 20px 80px 10px 80px;
}

.searchLogo {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.form {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    gap: 20px;
}


.query {
    width: 30rem;
    border-radius: 10px;
    opacity: 0.5; 
}


.logoName {
    display: flex;
    gap: 30px;
}

.bell {
    height: 40px; 
    position: relative;
    bottom: 10px;
}

.userPic {
    height: 70px;
    position: relative;
    bottom: 1.5rem;

}

.userBox {
    display: flex;
    justify-content: space-between; 
}


.buttons {
    display: flex;
    gap: 30px;
    height: 30px;
    margin-top: 25px;
}

button {
    border-radius: 20px;
    background: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button:hover {
    background: blueviolet;
}


.userInfo {
    display: flex;
    margin-bottom: -20px;
}


.userPic2 {
    height: 100px;
    position: relative;
    bottom: 1.2rem;
}


.sidebar {
    padding-top: 20px;
    background: lightblue;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  
}


.dashboard {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.6rem;
}

.menu {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding-bottom: 40px;
   font-size: 1.4rem;
}


.otherMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.4rem;
    padding-right: 50px;
}


.main {
    background: lightgray;
    display: grid;
    grid-template-columns: 2.5fr 1fr; 
}


.projectMain {
    padding: 0 0 20px 20px;
}


.projects {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}


.projectMain > .projects > .project {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 40px;
    background: white;
    align-items: left;
    box-shadow: -0.3em 0 0.4em orange;
}



.proTitle {
  font-size: 18px;
  font-weight: 700;
}


.other {
    margin: 0 20px 0 20px;
}


.announcements {
    border: 1px solid blue;
    border-radius: 10px;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }


.annoTitle {
    font-size: 16px;
    font-weight: 700;
}


.annoText {
    font-size: 14px;
}


.trending {
    border: 1px solid blue;
    border-radius: 10px;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    display: flex;
    justify-content: center;
}





