.container {
  /*text-align: center; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.header {
    display: grid;
}

.searchLogo {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
   
}

.userBox {
    display: flex;
    justify-content: space-evenly;
    
}

.buttons {
    display: flex;
    gap: 20px;
    height: 30px;
    margin-top: 25px;
}

.sidebar {
    padding-top: 20px;
    background: lightblue;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
     
}


.dashboard {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.6em;
}

.menu {
  display: flex;
  flex-direction: column;
   gap: 20px;
   padding-bottom: 40px;
   font-size: 1.4em;
}


.otherMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.4em;
    padding-right: 50px;
}


.main {
    background: gray;
}